
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @keyframes hero-gradient-animation{
            0%{--x-0:11%; --s-start-0:37%; --s-end-0:90%; --c-0:hsla(195,79%,51%,1); --y-0:96%; --y-1:92%; --c-1:hsla(272,100%,64%,1); --s-start-1:31%; --s-end-1:84%; --x-1:95%; --y-2:7%; --s-start-2:41%; --s-end-2:61%; --x-2:58%; --c-2:hsla(216,95%,54%,1); --x-3:62%; --s-start-3:22%; --s-end-3:59%; --y-3:35%; --c-3:hsla(239,76%,52%,1); --s-start-4:19%; --s-end-4:70%; --c-4:hsla(232,81%,92%,1); --y-4:63%; --x-4:2%;}
            50%{--x-0:6%; --s-start-0:29%; --s-end-0:73%; --c-0:hsla(313,78%,76%,1); --y-0:12%; --y-1:29%; --c-1:hsla(235,87%,56%,1); --s-start-1:8%; --s-end-1:52.61503700898072%; --x-1:77%; --y-2:23%; --s-start-2:29%; --s-end-2:80%; --x-2:75%; --c-2:hsla(220,51%,96%,1); --x-3:76%; --s-start-3:2%; --s-end-3:81%; --y-3:64%; --c-3:hsla(218,76%,75%,1); --s-start-4:24%; --s-end-4:81%; --c-4:hsla(315,89%,98%,1); --y-4:86%; --x-4:41%;}
            100%{--y-1:13%; --c-1:hsla(235,87%,56%,1); --s-start-1:8%; --s-end-1:21.71776697271709%; --x-1:36%;}
        }

        @property --x-0{syntax:'<percentage>';inherits:false;initial-value:11%}
        @property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:37%}
        @property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:90%}
        @property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(195,79%,51%,1)}
        @property --y-0{syntax:'<percentage>';inherits:false;initial-value:96%}
        @property --y-1{syntax:'<percentage>';inherits:false;initial-value:92%}
        @property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(272,100%,64%,1)}
        @property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:31%}
        @property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:84%}
        @property --x-1{syntax:'<percentage>';inherits:false;initial-value:95%}
        @property --y-2{syntax:'<percentage>';inherits:false;initial-value:7%}
        @property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:41%}
        @property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:61%}
        @property --x-2{syntax:'<percentage>';inherits:false;initial-value:58%}
        @property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(216,95%,54%,1)}
        @property --x-3{syntax:'<percentage>';inherits:false;initial-value:62%}
        @property --s-start-3{syntax:'<percentage>';inherits:false;initial-value:22%}
        @property --s-end-3{syntax:'<percentage>';inherits:false;initial-value:59%}
        @property --y-3{syntax:'<percentage>';inherits:false;initial-value:35%}
        @property --c-3{syntax:'<color>';inherits:false;initial-value:hsla(239,76%,52%,1)}
        @property --s-start-4{syntax:'<percentage>';inherits:false;initial-value:19%}
        @property --s-end-4{syntax:'<percentage>';inherits:false;initial-value:70%}
        @property --c-4{syntax:'<color>';inherits:false;initial-value:hsla(232,81%,92%,1)}
        @property --y-4{syntax:'<percentage>';inherits:false;initial-value:63%}
        @property --x-4{syntax:'<percentage>';inherits:false;initial-value:2%}

        .hero-section {
            --x-0:11%;
            --c-0:hsla(195,79%,51%,1);
            --y-0:96%;
            --y-1:92%;
            --c-1:hsla(272,100%,64%,1);
            --x-1:95%;
            --y-2:7%;
            --x-2:58%;
            --c-2:hsla(216,95%,54%,1);
            --x-3:62%;
            --y-3:35%;
            --c-3:hsla(239,76%,52%,1);
            --c-4:hsla(232,81%,92%,1);
            --y-4:63%;
            --x-4:2%;
            background-color:hsla(272,59%,39%,1);
            background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1495 1495' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
                            radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),
                            radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),
                            radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2)),
                            radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3),transparent var(--s-end-3)),
                            radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4),transparent var(--s-end-4));
            animation:hero-gradient-animation 10s linear infinite alternate;
            background-blend-mode:overlay,normal,hard-light,normal,normal,normal;
            
            height: 100vh;
            width: 100%;
            
            display: flex;
            align-items: center;
            padding-left: 10%;
        }
        .name-container {
            position: relative;
            z-index: 1;
        }

        .name {
            font-family: 'Uchen', sans-serif;
            font-size: 5rem;
            font-weight: 800;
            color: white;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            line-height: 1.1;
            max-width: 80%;
        }

        @media (max-width: 768px) {
            .name {
                font-size: 3rem;
            }
            .hero-section {
                padding-left: 5%;
            }
        }
